<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D907AC8C1BFD3FE9005D30A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D907ACA81BFD3FEA005D30A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D907ACB31BFD3FEA005D30A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
